@charset "utf-8";
/* Simplify Width and Height Calculations */
html{
    box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
    margin: 0;
    color: #C3C3C3;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    background-color: #325B79;
}







#wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    background-color: #2A3649;
}h1, h2 {
    color: #C4C4C4;
    font-weight: 400;
    font-style: normal;
}
h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 2.5em;
	text-transform: uppercase;
	text-align: center;
}
h2 {
    margin-top: 0.3em;
    font-size: 2.25em;
}
a {
	font-weight: bold;
	text-decoration: none;
}
a:link {
    color: #2A71BE;
}
a:visited {
    color: #239E7D;
}
a:hover ,a:active,a:focus{
    color: #70CCDB;
    text-decoration: underline;
}
#navlinks {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: center;
    list-style-type: none;
    background-color: #000000;
    background-color: rgba(0,0,0,0.85);
    position: absolute;
    -webkit-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
}
#navlinks a:hover, #navlinks a:active, #navlinks a:focus, #navlinks a.thispage {
	color: #70CCDB;
	background-color: #3C4E6A;
}

#navlinks.displayed {
    top: 157px;
    z-index: 1;
    opacity: 1;
}
#navlinks.start {
	display: none;
}
#navlinks.collapsed {
	top: -12em;
	opacity: 0;

}



#navlinks a {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	font-weight: 400;
	text-decoration: none;
	text-transform: none;
	background-color: #3A4B66;
}

#menulink {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: center;
    background-color: #00347B;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
#menulink a {
    color: white;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}






main, aside {
	margin-left: 4%;
	margin-right: 4%;
}
figure {
	width: 400px;
	max-width: 92%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
figcaption {
    display: block;
    margin-top: 0.5em;
    font-size: 0.75em;
    text-transform: uppercase;
    text-align: center;
}


figure img {
	max-width: 100%;
}


#hero img {
	max-width: 100%;
	display: block;
}
#hero p {
	color: #24A9DB;
	font-weight: 600;
	font-size: 1.2em;
	text-transform: uppercase;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 20px;
	margin-top: 10px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	border-radius: 40px;
	border-color: #506E8D;
	background-color: rgba(130,82,174,0.26);
}

.grayscale {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.grayscale:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1C2432;
    color: white;
    font-size: 0.8em;
    text-align: center;
}
.thispage {

}
video {
	max-width: 100%;
}



@media (min-width: 700px){
#menulink   {
	display: none;
}
#navlinks {
	max-width: 1000px;
	position: static;
	background-color: transparent;
}
#navlinks.collapsed {
	opacity: 1;
}
#navlinks a {
    width: 20%;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #C4C4C4;
    float: left;
}
#hero p {
	width: 42%;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	top: 19px;
	left: 4px;
	color: #C4C4BC;
	border-width: 5px;
	border-style: solid;
	text-align: center;
	text-decoration: none;
}
#hero {
	position: relative;
	margin-top: 50px;
}
#onemain {
    margin: auto;
    width: 90%;
    text-align: center;
    font-size: 0.875em;



}
table {
	margin: auto;
	width: 90%;
	table-layout: fixed;
}

main {
	width: 60%;
}

aside {
	width: 28%;
	margin-left: 0px;
}
main, aside {
    margin-bottom: 5px;
    float: left;
    font-size: 0.875em;
}
footer {
	clear: left;
}

}

@media (min-width: 900px){
.floatright {
	float: right;
	margin-right: 0px;
	margin-left: 10px;
}
.float {
}
}
